[submodule "src/P2Protelis"]
	path = src/P2Protelis
	url = https://github.com/map-dcomp/P2Protelis.git

[submodule "netflowTool/nfdump"]
	path = netflowTool/nfdump
	url = https://github.com/phaag/nfdump.git
