[submodule "src/P2Protelis"]
	path = src/P2Protelis
	url = gitoLite@dsl-external.bbn.com:map-low-fidelity-testbed

[submodule "netflowTool/nfdump"]
	path = netflowTool/nfdump
	url = https://github.com/phaag/nfdump.git
